{% extends "barbarella_site/base.html" %}

{% block title %}Scoring{% endblock %}

{% block content %}

<h1 class="title is-3">Scoring</h1>

<div class="container" style="margin-top: 2rem;">
  <form method="get" action="">
    <div class="field is-grouped is-align-items-center">
      <label class="label mr-2">Choose clan:</label>
      <div class="select">
        <select name="klan" onchange="this.form.submit()">
          <option value="">-- select --</option>
          {% for id, nazwa in klany %}
            <option value="{{ id }}" 
                {% if selected_klan == id|stringformat:"s" %}
                    selected
                {% endif %}
            >
                {{ nazwa }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
</div>
{% if selected_klan %}
<div style="width: 500px; margin: 0 auto;">
    <table class="table">
    <thead>
        <tr>
        <th>Chests name</th>
        <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in dane %}
        <tr>
            <td style="font-size: 0.95rem;">{{ entry.chests }}</td>
            <td style="font-size: 0.95rem;">{{ entry.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% endblock %}